<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:replace="~{includes/bootstrap-css :: bootstrap-css}">
    <title>Library</title>
</head>
<body>
<div th:replace="~{includes/bootstrap-script :: bootstrap-script}"></div>
<div class="container text-center">
    <div th:replace="~{includes/header.html :: header}"></div>
    <div th:each="booksByLetter : ${books}">
        <div th:text="${booksByLetter.letter()}" class="h1"></div>
        <div th:each="book : ${booksByLetter.books()}" class="row mb-3 text-center">
            <div th:text="${book.id}" class="col-1 themed-grid-col"></div>
            <div th:text="${book.name}" class="col-2 themed-grid-col"></div>
            <div th:text="${book.pages}" class="col-1 themed-grid-col"></div>
            <div th:text="${book.year}" class="col-1 themed-grid-col"></div>
            <div th:text="${book.category.name}" class="col-2 themed-grid-col"></div>
            <div th:text="${book.theme.name}" class="col-2 themed-grid-col"></div>
            <div th:text="${book.press.name}" class="col-1 themed-grid-col"></div>
            <div th:each="author : ${book.bookAuthors}" class="col-2">
                <div th:text="${author.firstName + ' '}"></div>
                <div th:text="${book.bookAuthors.size() > 1 ? author.lastName + ', ' : author.lastName}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>