<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:replace="~{includes/bootstrap-css :: bootstrap-css}">
    <title>Library: Add An Employee</title>
</head>
<body>
<div th:replace="~{includes/bootstrap-script :: bootstrap-script}"></div>
<div class="container">
    <div th:replace="~{includes/header.html :: header}"></div>
    <div class="row mt-2">
        <div class="col-1"></div>
        <div class="col-10">
            <form method="POST" th:object="${employee}" th:action="@{/employee}">
                <div class="mb-3">
                    <label for="firstNameInput" class="form-label" th:text="#{lecturerfirstname}"></label>
                    <input th:field="*{firstName}" th:value="${employee.firstName}" type="text" class="form-control"
                           id="firstNameInput" aria-describedby="firstNameHelp" required>
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}"
                          th:errors="*{firstName}"></span>
                    <div id="firstNameHelp" class="form-text">Enter First Name of the Lecturer</div>
                </div>
                <div class="mb-3">
                    <label for="lastNameInput" class="form-label" th:text="#{lecturersecondname}"></label>
                    <input th:field="*{lastName}" th:value="${employee.lastName}" type="text" class="form-control"
                           id="lastNameInput" required>
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}"
                          th:errors="*{lastName}"></span>
                    <div id="lastNameHelp" class="form-text">Enter Last Name of the Lecturer</div>
                </div>

                <div class="mb-3">
                    <label for="departmentList" class="form-label" th:text="#{selectdepartment}"></label>
                    <select class="form-select" id="departmentList" th:field="*{departmentId}" required>
                        <option th:each="department : ${departments}" th:value="${department.departmentId}"
                                th:text="${department.name}"></option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary" th:text="#{savelecturer}"></button>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>

</body>
</html>