<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issue a book</title>
    <link th:replace="~{includes/bootstrap-css :: bootstrap-css}">
</head>
<body>
<div th:replace="~{includes/bootstrap-script :: bootstrap-script}"></div>
<div class="container">
    <div th:replace="~{includes/header.html :: header}"></div>
    <div class="row mt-2">
        <div class="col-1"></div>
        <div class="col-10">
            <form method="POST" th:object="${scard}" th:action="@{/scard}">
                <div class="mb-3">
                    <label for="bookInput" class="form-label" th:text="#{selectabook}"></label>
                    <select class="form-select" id="bookInput" th:field="*{bookId}">
                        <option th:each="book : ${allbooks}" th:value="${book.getBookId}"
                                th:text="${book.getBookName}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="studentInput" class="form-label" th:text="#{selectastudent}"></label>
                    <select class="form-select" id="studentInput" th:field="*{studentId}">
                        <option th:each="student : ${allstudents}" th:value="${student.studentId}"
                                th:text="${student.firstName} + ' ' + ${student.lastName}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="librarianInput" class="form-label" th:text="#{selectlibrarian}"></label>
                    <select class="form-select" id="librarianInput" th:field="*{librarianId}">
                        <option th:each="librarian : ${librarians}" th:value="${librarian.librarianId}"
                                th:text="${librarian.firstName} + ' ' + ${librarian.lastName}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>

</body>
</html>